.card {
  aspect-ratio: 2 / 3;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(154, 171, 204);
  color: aliceblue;
  margin: 10px auto;
  max-width: 300px;
  padding: 12px;
  word-wrap: break-word;
}

.box-card {
  background-color: rgb(233, 233, 233);
  border: 8px double rgb(205, 195, 236);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3%;
  width: 100%;
}

.title-card {
  background-color: rgb(128, 100, 206);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  font-size: 1.8rem;
  height: 2.8rem;
  overflow: hidden;
  padding: 5px;
  text-align: end;
  width: 100%;
}

.image-card {
  color: rgb(32, 32, 32);
  height: 30%;
  object-fit: cover;
  width: 100%;
}

.description-card {
  background-color: rgb(162, 167, 212);
  border-radius: inherit;
  color: rgb(32, 32, 32);
  font-size: 0.9rem;
  font-weight: 500;
  height: 15%;
  overflow: hidden;
  padding: 3px;
  width: 100%;
}

.box-attrs {
  color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.attr-card {
  align-items: center;
  background-color: rgb(204, 209, 221);
  border-radius: 3px;
  display: flex;
  font-size: 0.9rem;
  font-weight: 600;
  justify-content: space-between;
  margin: 3px;
  padding: 2px;
}

.attr-card span {
  background-color: rgb(128, 100, 206);
  border-radius: inherit;
  padding: 2px 5px;
}

.rare-card {
  align-self: flex-end;
  background-color: rgb(128, 100, 206);
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
  margin: 5px 0;
  padding: 3px 8px;
  width: fit-content;
}

.trunfo-card {
  background-color: rgb(128, 100, 206);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  font-weight: 600;
  padding: 5px;
  text-align: center;
}
