.container-form {
  background-color: inherit;
  margin: auto;
  max-width: 380px;
}

form {
  color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 700;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
}

textarea {
  resize: none;
}

.label {
  display: flex;
  margin: 5px 0;
}

.label-top {
  flex-direction: column;
}

.label-aside {
  align-items: center;
  justify-content: space-between;
}

.form-item {
  background-color: white;
  border: none;
  border-radius: 2px;
  font-size: inherit;
  font-weight: 500;
  outline: none;
  padding: 5px;
}

.label-top span {
  margin-bottom: 10px;
}

.label-aside span {
  flex-grow: 1;
  margin-right: 10px;
}

.label-top .form-item {
  border-bottom: 2px solid silver;
  flex-grow: 1;
}

.label-aside .form-item {
  border: 2px solid silver;
  flex-basis: 280px;
}

.field-image .form-item {
  margin: 0 10px;
}

.label .form-item:focus {
  background-color: whitesmoke;
}

.btn {
  align-self: center;
  background-color: rgb(255, 45, 63);
  color: aliceblue;
  font-weight: 600;
  margin: 10px 0;
  width: 80px;
}

.btn:hover {
  background-color: rgb(255, 75, 90);
}

.select-item {
  color: rgb(255, 45, 63);
  font: inherit;
}

option {
  font-weight: 600;
}

.text-trunfo {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  text-align: center;
}

.field-trunfo {
  margin: 10px 0;
}

.field-trunfo input {
  accent-color: rgb(255, 45, 63);
  margin-right: 10px;
}
